<?xml version="1.0"?>
<launch>

    <machine name="drc1" address="drc1" user="youbot" env-loader="/home/youbot/rosenv.sh" timeout="30"/>

    <node machine="drc1" name="screw_driver" pkg="rosserial_python" type="serial_node.py"
		          args="/dev/ttyUSB0" respawn="true"/>
		          
    <node machine="$(arg r2)" name="arm_feedback" pkg="robot"  type="arm_feedback.py" output="log" />
		      
		      
		      
</launch>
